#navbarDropdownMenuLink:hover{
   display: block;
}

@media screen and (min-width:300px){
   .heading{
      text-align: center !important;
      position: absolute;
      left: 30%;
      text-align: center;
      margin: 0 auto;
   }
}
@media screen and (min-width:700px){
   .heading{
      text-align: center !important;
      position: absolute;
      left: 44%;
      text-align: center;
      margin: 0 auto;
   }
}
.list{ 
   margin-left: auto;
   margin-right: 2%;
}
